body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

.selling-codes, .buying-codes {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.code-pack {
  display: inline-block;
  width: 200px;
  height: 350px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  vertical-align: top;
}

.code-pack img {
  width: 20%;
  height: 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.code-pack h3 {
  margin-top: 10px;
}

.code-pack p.price {
  font-weight: bold;
  margin-top: 10px;
}

.add-to-cart-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: gray;
  cursor: pointer;
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  .selling-codes,
  .buying-codes {
    flex-direction: column;
  }

  .code-pack1,
  .code-pack2,
  .code-pack3,
  .code-pack4,
  .code-pack5,
  .code-pack6,
  .code-pack7 {
    width: 100%;
    margin-bottom: 20px;
  }

  .code-pack1 img,
  .code-pack2 img,
  .code-pack3 img,
  .code-pack4 img,
  .code-pack5 img,
  .code-pack6 img,
  .code-pack7 img {
    width: 80%;
    margin: 0 auto;
  }

  .code-pack1 h3,
  .code-pack2 h3,
  .code-pack3 h3,
  .code-pack4 h3,
  .code-pack5 h3,
  .code-pack6 h3,
  .code-pack7 h3 {
    text-align: center;
    margin-top: 10px;
  }

  .code-pack1 p,
  .code-pack2 p,
  .code-pack3 p,
  .code-pack4 p,
  .code-pack5 p,
  .code-pack6 p,
  .code-pack7 p {
    text-align: center;
    margin: 0;
  }

  .code-pack1 .add-to-cart-btn,
  .code-pack2 .add-to-cart-btn,
  .code-pack3 .add-to-cart-btn,
  .code-pack4 .add-to-cart-btn,
  .code-pack5 .add-to-cart-btn,
  .code-pack6 .add-to-cart-btn,
  .code-pack7 .add-to-cart-btn {
    margin: 10px auto;
    display: block;
  }
}
